* {
    box-sizing: border-box;
}
body{
    margin:0px;
    background:#000;
}
.row:after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-3 {width: 15%;}
.col-9 {width: 85%;}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

header ul li {
    float: left;
}

header ul li a {
    display: block;
    color: white;
    text-align: center;
    
    text-decoration: none;
}

header ul li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

input {
    float: right;
    margin: 0 0 10px 10px;
}

.header-cont {
    width:100%;
    position:fixed;
    top:0px;
}
header {
    
    background:#ffffff;
    /*border:1px solid #ff66ff;*/
    width:80%;
    margin:0px auto;
}
footer {
    padding: 15px;
    background:#ffffff;
    /*border:1px solid #ff66ff;*/
    width:80%;
    margin:0px auto;
}

article {
    width:80%;
    padding: 15px;
    background: #F0F0F0;
    border: 1px solid #CCC;
    height: 1000px;
    margin-top: 230px;
    margin-right: auto;
    margin-left: auto;
}


/*  SECTIONS  */
.section {
	clear: both;
	padding: 0;
	margin: 0;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF FOUR  */
.span_4_of_4 {
	width: 100%;
}
.span_3_of_4 {
	width: 74.6%;
}
.span_2_of_4 {
	width: 49.2%;
}
.span_1_of_4 {
	width: 23.8%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0; }
	.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }
}

figure {
  display: block;
  margin: 0 auto;
  padding: .5em;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -o-transition: 1s;
  -moz-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s; 
}

figure:hover { border-color: #999; border-color:rgba(255, 0, 0, 0.5); }

figure:hover { background: #585858 ; background: rgba(0,0,0,.05); }


figcaption { text-align: center; font-style: italic; margin: 0; }
figure img, figcaption { margin: 0 auto 0.55em; display:block;}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0;
	margin: 0;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF TWELVE  */
.span_12_of_12 {
	width: 100%;
}

.span_11_of_12 {
  	width: 91.53%;
}
.span_10_of_12 {
  	width: 83.06%;
}

.span_9_of_12 {
  	width: 74.6%;
}

.span_8_of_12 {
    width: 66.13%;
}

.span_7_of_12 {
  	width: 57.66%;
}

.span_6_of_12 {
  	width: 49.2%;
}

.span_5_of_12 {
  	width: 40.73%;
}

.span_4_of_12 {
   width: 32.26%;
}

.span_3_of_12 {
  	width: 23.8%;
}

.span_2_of_12 {
  	width: 15.33%;
}

.span_1_of_12 {
  	width: 6.866%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0; }
    
    .span_1_of_12, .span_2_of_12, .span_3_of_12, .span_4_of_12, .span_5_of_12, .span_6_of_12, .span_7_of_12, .span_8_of_12, .span_9_of_12, .span_10_of_12, .span_11_of_12, .span_12_of_12 {
	width: 100%; 
	}
}
body h1 {
  font-family: 'Merriweather', serif;
  color: #0C0D0f;
}
h1 {
  font-size: 2.5rem;
}
li {
  list-style-type: none;
}


button, 
search,
input, 
select, 
textarea { 
font-size : 50%; 
margin : 0; 
vertical-align : baseline; 
*vertical-align : middle; }

button, input { 
line-height : normal; 
*overflow : visible; }

button, 
input[type="button"], 
input[type="reset"], 
input[type="submit"] { 
padding: 0.5em 1em;
margin: 0;
cursor : pointer; 
font-weight:100;
}
.button {
  float: left;
  max-width: 100%;
  width: 20%;

  margin: 0;
  padding: 2rem;

  border: 1px solid #0C0D0F;
  font-size: 1em;
  background-color: #A5684E;
  text-align: center;
}
.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
footer {
  text-align: center;
}