* {
    box-sizing: border-box;
}
body{
    margin:0px;
    background:#000;
}
.row:after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-3 {width: 8%;}
.col-9 {width: 92%;}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

header ul li {
    float: left;
}

header ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header ul li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

input {
    float: right;
    margin: 0 0 10px 10px;
}

.header-cont {
    width:100%;
    position:fixed;
    top:0px;
}
header {
    
    background:#ffffff;
    /*border:1px solid #ff66ff;*/
    width:80%;
    margin:0px auto;
}
footer {
    padding: 15px;
    background:#ffffff;
    /*border:1px solid #ff66ff;*/
    width:80%;
    margin:0px auto;
}

article {
    width:80%;
     padding: 15px;
    background: #F0F0F0;
    border: 1px solid #CCC;
    height: 1000px;
    margin-top: 180px;
    
    margin-right: auto;
    margin-left: auto;
}


/*  SECTIONS  */
.section {
	clear: both;
	padding: 0;
	margin: 0;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF FOUR  */
.span_4_of_4 {
	width: 100%;
}
.span_3_of_4 {
	width: 74.6%;
}
.span_2_of_4 {
	width: 49.2%;
}
.span_1_of_4 {
	width: 23.8%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0; }
	.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }
}

figure {
  display: block;
  margin: 0 auto;
  padding: .5em;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -o-transition: 1s;
  -moz-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s; 
}

figure:hover { border-color: #999; border-color:rgba(255, 0, 0, 0.5); }

figure:hover { background: #585858 ; background: rgba(0,0,0,.05); }


figcaption { text-align: center; font-style: italic; margin: 0; }
figure img, figcaption { margin: 0 auto 0.55em; display:block;}




  
  
  
  
  

  
  
  
